cdsapi
netCDF4
xarray
sqlalchemy
python-dotenv 
psycopg2
mercantile
geopandas
pandas==2.1.4
geoalchemy2
apache-airflow

mapbox-vector-tile==2.1.0
folium==0.16.0
matplotlib==3.10.3
scipy==1.15.0
cfgrib